/ {
	chosen {
		bootargs = "console=ttyPS0,115200 earlyprintk root=/dev/mmcblk0p2 rw uio_pdrv_genirq.of_id=generic-uio";
		stdout-path = "serial0:115200n8";
	};

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		mmc0 = &sdhci0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};

	leds {
		compatible = "gpio-leds";

		led-green {
			label = "led-green";
			gpios = <&gpio0 55 1>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};
		led-red {
			label = "led-red";
			gpios = <&gpio0 54 1>;
			default-state = "off";
		};
	};

	buttons {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;

		s2-button {
			gpios = <&gpio0 20 1>;
			label = "s2-button";
			default-state = "keep";
			linux,code = <106>;
			autorepeat;
		};
		s3-button {
			gpios = <&gpio0 32 1>;
			label = "s3-button";
			default-state = "keep";
			linux,code = <105>;
			autorepeat;
		};
	};
};

&uart1 {
       status = "okay";
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy0>;

	ethernet_phy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&sdhci0 {
	status = "okay";
};

&gpio0 {
	gpio-mask-low = <0x5600>;
};

&smcc {
	status = "okay";
};

&nand0 {
	status = "okay";
	nand-ecc-mode = "none";
	nand-bus-width = <8>;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "spl";
			reg = <0x0 0x1ffff>;
		};

		partition@20000 {
			label = "uboot1";
			reg = <0x20000 0x11ffff>;
		};

		partition@120000 {
			label = "uboot2";
			reg = <0x120000 0x21ffff>;
		};

		partition@220000 {
			label = "panic";
			reg = <0x220000 0x29ffff>;
		};
                partition@2a0000 {
			label = "ubi";
			reg = <0x2a0000 0xfffffff>;
		};
	};
};
